<div>
  <h2 id="page-heading" data-cy="BoissonsHeading">
    <span>Boissons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-boissons"
        [routerLink]="['/boissons/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="boissons?.length === 0">
    <span>No boissons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="boissons && boissons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="nomBoissons"><span>Nom </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="imagePath"><span>Image </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix"><span>Prix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remisePerc"><span>Remise Perc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remiceVal"><span>Remice Val</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="menu.id"><span>Menu</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boissons of boissons; trackBy: trackId" data-cy="entityTable">
          <td>{{ boissons.nomBoissons }}</td>
          <td>{{ boissons.imagePath }}</td>
          <td>{{ boissons.prix }}</td>
          <td>{{ boissons.remisePerc }}</td>
          <td>{{ boissons.remiceVal }}</td>
          <td>
            <div *ngIf="boissons.menu">
              <a [routerLink]="['/menu', boissons.menu?.id, 'view']">{{ boissons.menu?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/boissons', boissons.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/boissons', boissons.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(boissons)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="boissons && boissons.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
