<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-responsable-restaurant-heading"
        data-cy="ResponsableRestaurantCreateUpdateHeading"
        jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.home.createOrEditLabel"
      >
        Create or edit a Responsable Restaurant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.idResponsable" for="field_idResponsable"
            >Id Responsable</label
          >
          <input
            type="text"
            class="form-control"
            name="idResponsable"
            id="field_idResponsable"
            data-cy="idResponsable"
            formControlName="idResponsable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.nomResponsable" for="field_nomResponsable"
            >Nom Responsable</label
          >
          <input
            type="text"
            class="form-control"
            name="nomResponsable"
            id="field_nomResponsable"
            data-cy="nomResponsable"
            formControlName="nomResponsable"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.prenomResponsable"
            for="field_prenomResponsable"
            >Prenom Responsable</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomResponsable"
            id="field_prenomResponsable"
            data-cy="prenomResponsable"
            formControlName="prenomResponsable"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.adresseResponsable"
            for="field_adresseResponsable"
            >Adresse Responsable</label
          >
          <input
            type="text"
            class="form-control"
            name="adresseResponsable"
            id="field_adresseResponsable"
            data-cy="adresseResponsable"
            formControlName="adresseResponsable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.numResponsable" for="field_numResponsable"
            >Num Responsable</label
          >
          <input
            type="text"
            class="form-control"
            name="numResponsable"
            id="field_numResponsable"
            data-cy="numResponsable"
            formControlName="numResponsable"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nadiaDeliveryFoodApp.responsableRestaurant.restaurant" for="field_restaurant"
            >Restaurant</label
          >
          <select class="form-control" id="field_restaurant" data-cy="restaurant" name="restaurant" formControlName="restaurant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                restaurantOption.id === editForm.get('restaurant')!.value?.id ? editForm.get('restaurant')!.value : restaurantOption
              "
              *ngFor="let restaurantOption of restaurantsCollection; trackBy: trackRestaurantById"
            >
              {{ restaurantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
