<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading">créer ou modifier un client</h2>

      <div>
        <div class="row mb-3">
          <label class="form-label" for="field_nomClient">Nom </label>
          <input type="text" class="form-control" name="nomClient" id="field_nomClient" data-cy="nomClient" formControlName="nomClient" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prenomClient">Prenom </label>
          <input
            type="text"
            class="form-control"
            name="prenomClient"
            id="field_prenomClient"
            data-cy="prenomClient"
            formControlName="prenomClient"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_adresseClient">Adresse </label>
          <input
            type="text"
            class="form-control"
            name="adresseClient"
            id="field_adresseClient"
            data-cy="adresseClient"
            formControlName="adresseClient"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numClient">Num</label>
          <input type="text" class="form-control" name="numClient" id="field_numClient" data-cy="numClient" formControlName="numClient" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
