@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 400;
    color: chocolate;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 150px;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/2.png') no-repeat center center;
  background-size: contain;
}
