<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commande-heading" data-cy="CommandeCreateUpdateHeading">Create or edit a Commande</h2>

      <div>
        <div class="row mb-3">
          <label class="form-label" for="field_adresseCommande">Adresse </label>
          <input
            type="text"
            class="form-control"
            name="adresseCommande"
            id="field_adresseCommande"
            data-cy="adresseCommande"
            formControlName="adresseCommande"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_etat">Etat</label>
          <input type="text" class="form-control" name="etat" id="field_etat" data-cy="etat" formControlName="etat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateCommande">Date </label>
          <div class="d-flex">
            <input
              id="field_dateCommande"
              data-cy="dateCommande"
              type="datetime-local"
              class="form-control"
              name="dateCommande"
              formControlName="dateCommande"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prixTotal">Prix Total</label>
          <input type="number" class="form-control" name="prixTotal" id="field_prixTotal" data-cy="prixTotal" formControlName="prixTotal" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remisePerc">Remise Perc</label>
          <input
            type="number"
            class="form-control"
            name="remisePerc"
            id="field_remisePerc"
            data-cy="remisePerc"
            formControlName="remisePerc"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remiceVal">Remise Val</label>
          <input type="number" class="form-control" name="remiceVal" id="field_remiceVal" data-cy="remiceVal" formControlName="remiceVal" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prixLivreson">Prix Livreson</label>
          <input
            type="number"
            class="form-control"
            name="prixLivreson"
            id="field_prixLivreson"
            data-cy="prixLivreson"
            formControlName="prixLivreson"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateSortie">Date Sortie</label>
          <div class="d-flex">
            <input
              id="field_dateSortie"
              data-cy="dateSortie"
              type="datetime-local"
              class="form-control"
              name="dateSortie"
              formControlName="dateSortie"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_livreur">Livreur</label>
          <select class="form-control" id="field_livreur" data-cy="livreur" name="livreur" formControlName="livreur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="livreurOption.id === editForm.get('livreur')!.value?.id ? editForm.get('livreur')!.value : livreurOption"
              *ngFor="let livreurOption of livreursSharedCollection; trackBy: trackLivreurById"
            >
              {{ livreurOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clientOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : clientOption"
              *ngFor="let clientOption of clientsSharedCollection; trackBy: trackClientById"
            >
              {{ clientOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
